<!DOCTYPE html>
<html lang="en">
    <head>
        <title>superList</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" href="node_modules/jquery-datetimepicker/jquery.datetimepicker.css">
        <link href="css/base.css" rel="stylesheet">
    </head>
    <body>
        <div class="msg">
            <div class="msg-content"></div>
            <button type="button">知道了</button>
        </div>
        <div class="container"><!-- the whole container -->
            <h1>SuperList</h1>
            <form class="add-task">
                <input name="content" type="text" placeholder="eg.下午两点开会" autofocus>
                <button type="submit">submit</button>
            </form>
            <div class="tasks-list"><!-- tasks list start -->
            </div><!-- tasks list end -->
            <div class="task-detail"><!-- task detail start -->
            </div>
        </div><!-- the whole container end -->
        <div class="task-detail-mask"></div>
        <script type="text/html" id="taskItem">
            <div class="task-item" data-index="<%= index %>">
                <span><input class="complete" <%= complete?'checked':'' %> type="checkbox"></span>
                <span class="task-content"><%= content %></span>
                <span class="task-action-wrapper">
                    <span class="task-action delete"> delete</span>
                    <span class="task-action detail"> detail</span>
                </span>
            </div>
        </script>
        <script type="text/html" id="taskDetail">
            <form>
                <div class="content"><%= content %></div>
                <input type="text" style="display:none;" name="content" value="<%= content %>">
                <div class="desc">
                    <textarea name="desc"><%= detail %></textarea>
                </div>
                <div class="remind"><!-- remind the time -->
                    <label>提醒时间</label>
                    <input type="text" class="datetime" name="remind_date" value="<%= time %>">
                </div><!-- remind the time end -->
                <div>
                    <button class="reset">clear</button>
                    <button type="submit">update</button>
                </div>
            </form>
        </script>
        <video class="alerter" src="alert.mp3"></video>
        <script src="node_modules/ejs/ejs.min.js"></script>
        <script src="node_modules/jquery/dist/jquery.js"></script>
        <script src="node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
        <script src="node_modules/store/store.js"></script>
        <script src="js/base.js"></script>
    </body>
</html>